<header class="relative z-10 h-20 items-center">
  <div
    class="relative z-10 mx-auto flex h-full flex-col justify-center px-3 text-white"
  >
    <div class="relative flex w-full items-center pl-1 sm:ml-0 sm:pr-2">
      <div class="group relative flex h-full w-12 items-center">
        <button
          type="button"
          aria-expanded="false"
          aria-label="Toggle sidebar"
          class="text-4xl text-white focus:outline-none"
          (click)="openSidebar()"
        >
          &#8801;
        </button>
      </div>
    </div>
  </div>
</header>
